body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #5CDB95;
    color: #EDF5E1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}

h1 {
    color: #EDF5E1;
    font-size: 160px;
}

h2 {
    font-size: 40px;
}

.style1 {
    background-color: #5CDB95;
    color: #05386B;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style2 {
    background-color: #EDF5E1;
    color: #05386B;
    border: 5px solid #EDF5E1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 800px;
    padding: 20px;
}

input {
    border-style: 4px solid #05386B;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
    padding: 10px 10px 10px 20px;
    margin: 0 30px;
}

button {
    border: 2px solid #05386B;
    background-color: #05386B;
    color: #EDF5E1;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    transition: 0.5s;
    margin: 0 30px;
    width: 100px;
    height: 50px;
}

button:hover {
    background-color: #EDF5E1;
    color: #05386B;
    border: 2px solid #05386B;
}

p {
    padding-left: 100px;
    color: #05386B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

h3 {
    padding-left: 100px;
    text-align: center;
}







/*05386B
5CDB95
EDF5E1*/